01.Raw to Landing.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "AzureBlobFSLocation",
                "fileSystem": "fabricproject",
                "folderPath": "raw"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "externalReferences": {
              "connection": "6897c8c0-e87a-41d8-bf21-802e4521cf84"
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "AzureBlobFSReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false,
            "modifiedDatetimeStart": {
              "value": "@startOfDay(utcNow())",
              "type": "Expression"
            },
            "modifiedDatetimeEnd": {
              "value": "@utcNow()",
              "type": "Expression"
            }
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Metadata1').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "6413150d-2d0d-a58f-4fc4-7a6e375d8763",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "today_file": {
                    "value": {
                      "value": "@item().name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "processed_Date": {
                    "value": {
                      "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "source_account": {
                    "value": "datalake22143",
                    "type": "string"
                  },
                  "source_container": {
                    "value": "fabricproject",
                    "type": "string"
                  },
                  "src_relative_path": {
                    "value": "raw",
                    "type": "string"
                  },
                  "destination_account": {
                    "value": "datalake22143",
                    "type": "string"
                  },
                  "destination_container": {
                    "value": "fabricproject",
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Raw to landing",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}